body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: roboto,sans-serif;
    font-size: 15px;
    line-height: 1.6;
    width: 100%;
    background-image: url('../pulsarBG.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: block;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.jumbotron {
    opacity: 0.9;
}

.announcements.panel.panel-default {
    margin-bottom: 1rem!important;
}
.panel-default {
    border-color: #ecf0f1;
}
.panel {
    margin-bottom: 21px;
    background-color: #ffffff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);
    box-shadow: 0 1px 1px rgba(0,0,0,0.05);
}
.panel-default>.panel-heading {
    color: #2c3e50;
    background-color: #ecf0f1;
    border-color: #ecf0f1;
}
.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 17px;
    color: inherit;
}
.dropdown-menu.columns-2 {
    min-width: 400px;
}

ul>li>ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#coverImg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 200px 300px;
    height: 300px;
    margin-right: 16px;
}