
@{
    ViewBag.Title = "ChapterDetails";
}

<h3>Master of the Stars <span style="font-size:1rem;"><a href="/feed/master-of-the-stars">(RSS)</a></span></h3>
<h4>strivon</h4>
<hr />
<div>
    <div id="coverImg" style="background-image: url(https://cdn.gravitytales.com/images/covers/master-of-the-stars.jpg?v=07c1c0ba74c74121aaee115bdf7bcec4);"></div>
    <div class="desc">
        <p><strong>Genres:</strong><br /> Action, Psychological, SciFi, Supernatural, Chinese</p>
        <p><p><strong>Author:</strong> <span style="font-weight: 400">Weight Loss Expert</span> | <span style="font-weight: 400">减肥专家 </span></p>
        <p><strong>Status:</strong> 160+ chapters (ongoing)</p>
        <p><strong>Translator:</strong> Strivon</p>
        <hr>
        <p><strong>Synopsis:&nbsp;</strong><span style="font-weight: 400">It is the turn of the century and humanity has ignorantly stepped into the starry space to lay themselves bare under the eyes of gods. The young man Luo Nan bears the sins of his forefathers. He walks out of a laboratory and is seen holding burning notes up high, his feet treading on the bones of gods. A myriad of living beings are formatted in writing. Universes are added and deleted in the star records.</span></p>
        <p><strong><span style="font-weight: 400">Know now… All living beings be ready for me. Believe with certainty… For my mind is a universe.</span></strong></p>
        <p>&nbsp;</p></p>
    </div>
</div>
<hr />
<div class="clearfix"></div>
<div id="chapters"></div>
</div>
</div>

